################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/social_network_system_design/FileContentIndex
/.vs/social_network_system_design/FileContentIndex/45a0afdf-d75f-4ba1-bef1-cd32926bc45c.vsidx
/.vs/social_network_system_design/FileContentIndex/46aace56-9411-4c03-91f7-543ab86874e2.vsidx
/.vs/social_network_system_design/FileContentIndex/c645261f-7bd9-4299-828e-6e40880501e8.vsidx
/.vs/social_network_system_design/FileContentIndex/ca34817d-1e2a-4df1-b086-f8e7a8236feb.vsidx
/.vs/social_network_system_design/FileContentIndex/cf6ad366-4aeb-4277-a597-be90a1ae44ff.vsidx
